.listing {
  display: flex;
  width: 95%;
  height: 50px;
  border: 1px solid white;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  border-radius: 13px;
  margin: 10px auto;

  .list-title {
   font-weight: bold;
   color: springgreen;
  }
}