nav {
  background-color: coral;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 1em;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 30px;
  width: 60%;
  justify-content: space-evenly;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: springgreen;
  background-color: steelblue;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid white;
  margin: 5px;
}